[submodule "Ether/vendor/spdlog"]
	path = Ether/vendor/spdlog
	url = https://github.com/da2650638/spdlog.git
[submodule "Ether/vendor/GLFW"]
	path = Ether/vendor/GLFW
	url = https://github.com/da2650638/glfw.git
