[submodule "Ether/vendor/GLFW"]
	path = Ether/vendor/GLFW
	url = https://github.com/da2650638/glfw.git
[submodule "Ether/vendor/imgui"]
	path = Ether/vendor/imgui
	url = https://github.com/da2650638/imgui.git
